#zaposleniBody {
	margin: 0 0 30px 0;
	padding:0;
	border:0;
	font: 80% tahoma,sans-serif;
	color: #2B2B2B;
	line-height:1.5em;
	text-align:center;
	background-color: #7997a1;
}

body {
	margin: 0 0 30px 0;
	padding:0;
	border:0;
	font: 80% tahoma,sans-serif;
	color: #2B2B2B;
	line-height:1.5em;
	text-align:center;
	background-color: #333333;
}

#vsebnik{
position:relative;
width:900px;
margin: 0px auto 0 auto;
background: #F9F9F7 url(slike/bg.jpg) top center no-repeat;
}

#besedilo1{
margin: 0 0 0 205px;
text-align:left;
}

#seznam1{
	position:absolute;
	top:307px;
	left:20px;
}

#seznam2{
	position: fixed;
	width:157px;
	text-align:left;
	background-color: #F1EDE0;
}

#noga{
height:3.5em;
margin-top:2em;
}

h1, #razlaga h3, #besedilo1 h3, #kjesmo h3
					{margin:0;}

h1{
	height:287px;
	padding-top: 20px;
}

h3					{font-size:150%}
#besedilo1 h3		{height:30px;}
#razlaga h3	{height:30px;}
#kjesmo  h3		{height:30px;}
p{
	letter-spacing:0.05em;
	word-spacing:0.1em;
	padding: 0 10px 0 10px;
}

a{
color:#79633A;
text-decoration:none;
border-bottom:1px dotted #d25c3e;
}
a:hover{
color:#2B2B2B;
text-decoration:none;
border-bottom:1px solid #ddd1a8;
}

#izbira a{
	font:normal 100% tahoma,sans-serif;
	text-transform:uppercase;
	display:block;
	text-decoration:none;
	padding-left:0.25em;
	margin-left:-0.25em;
	border-bottom:0;
}
#izbira a:hover{
}

#izbira a.c{
font: italic 100% georgia,serif;
text-transform:none;
color:#d25c3e;
display:inline;
padding-left:0;
margin-left:0;
background:none;
}
#izbira a.c:hover{
color:#0cf;
background:none;
border-bottom:1px solid #ddd1a8;
}

#seznam1 ul{
list-style:none;
padding:0;
margin-right:0px;
margin-left:0.5em;
}

#seznam1 ul li{
	margin: 0.5em 0;
	padding: 0.3em 0;
	font: normal 90% tahoma,serif;
}

#kontakt {
	float: left;
	width: 195px;
	height: 108px;
	margin-left: 28px;
	color: #207c8d;
	padding: 35px 0px 0px 33px;
	background: url(kontakt.jpg) no-repeat;
}
